Django==4.2.14
djangorestframework==3.15.2
requests==2.32.3
sqlparse==0.5.0
langgraph==0.1.5
pydantic==2.8.2
pydantic_core==2.20.1
requests==2.32.3
tavily-python==0.3.3
urllib3==2.2.2
langchain_openai==0.1.14
langchain==0.2.7
django-cors-headers
langchain-community